Module 1: Environment build/setupinfra.yml
AWSTemplateFormatVersion: 2010-09-09

Description: Provision an IoT Device and connect to AWS IoT

Metadata: 
  AWS::CloudFormation::Interface: 
    ParameterGroups: 
      - 
        Label:
          default: "S3 bucket"
        Parameters:
          - MyS3bucket
      - 
        Label:
          default: "Communication"
        Parameters:
          - MyEmail
      - 
        Label:
          default: "IoT resources"
        Parameters:
          - ThingName01
          - ThingName02
          - IoTTopic01
          - IoTTopic02

Parameters:
  MyS3bucket: 
    Type: String 
    Description: name of S3 bucket that store deployment packages for Lambda function
  MyEmail: 
    Type: String 
    Default: my-email-address
    Description: Email address to receive IoT Device Defender alerts
  ThingName01:
    Type: String
    Default: SensorDevice01
    Description: IoT Thing name for Device 01
  ThingName02:
    Type: String
    Default: SensorDevice02
    Description: IoT Thing name for Device 02
  IoTTopic01:
    Type: String
    Default: temperature-device-01
    Description: IoT Topic receives data from Device 01
  IoTTopic02:
    Type: String
    Default: temperature-device-02
    Description: IoT Topic receives data from Device 02

Resources:
  MyCertificate:
    Type: 'Custom::CreateCertificate'
    Properties:
      ServiceToken: !GetAtt CreateCertificate.Arn
   
  CreateCertificate:
    Type: 'AWS::Lambda::Function'
    Properties:
      Description: Create Cerfiticate for IoT Thing
      FunctionName: createCert
      Handler: create_cert.handler
      Environment:
        Variables:
          CFNstackname: !Ref AWS::StackName
      Role: !GetAtt CreateCertExecutionRole.Arn
      Runtime: nodejs12.x
      Code:
        S3Bucket: !Ref MyS3bucket
        S3Key: registerDevice.zip 

  CreateCertExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - lambda.amazonaws.com
          Action:
          - sts:AssumeRole
      Path: "/"
      Policies:
        -
          PolicyName: CreateCertRolePolicies
          PolicyDocument: 
            Version: "2012-10-17"
            Statement: 
              - 
                Effect: Allow
                Action: 
                - 'logs:CreateLogGroup'
                - 'logs:CreateLogStream'
                - 'logs:PutLogEvents'
                - 's3:GetObject'
                - 'secretsmanager:*'
                - 'kms:Decrypt'
                - 'iot:*'
                Resource: "*"

  IoTAuditRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - 
            Effect: Allow
            Principal:
              Service: iot.amazonaws.com
            Action: sts:AssumeRole
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSIoTDeviceDefenderAudit
  
  StartIoTAudit:
    Type: 'Custom::IoTAudit'
    Properties:
      ServiceToken: !GetAtt TriggerAudit.Arn   

  TriggerAudit:
    Type: 'AWS::Lambda::Function'
    Properties:
      Description: 'Start IoT On-Demand Audit for all Checks'
      FunctionName: createAudit
      Handler: create_audit.handler
      Environment:
        Variables:
          CFNstackname: !Ref AWS::StackName
          AuditRoleArn: !GetAtt IoTAuditRole.Arn

      Role: !GetAtt TriggerAuditExecutionRole.Arn
      Runtime: nodejs12.x
      Code:
        S3Bucket: !Ref MyS3bucket
        S3Key: startaudit.zip 

  TriggerAuditExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Principal:
            Service:
            - lambda.amazonaws.com
          Action:
          - sts:AssumeRole
      Path: "/"
      Policies:
        -
          PolicyName: TriggerAuditPolicy
          PolicyDocument: 
            Version: "2012-10-17"
            Statement: 
              - 
                Effect: Allow
                Action: 
                - 'logs:CreateLogGroup'
                - 'logs:CreateLogStream'
                - 'logs:PutLogEvents'
                - 's3:GetObject'
                - 'iot:*'
                - 'iam:PassRole'
                Resource: "*"

  Thing01:
    Type: AWS::IoT::Thing
    Properties: 
      ThingName: !Ref ThingName01
      AttributePayload: 
        Attributes: 
          SensorType: 'DHT22'

  Thing02:
    Type: AWS::IoT::Thing
    Properties: 
      ThingName: !Ref ThingName02
      AttributePayload: 
        Attributes: 
          SensorType: 'DHT22'

  AttachCertToDevice01: 
    Type: AWS::IoT::ThingPrincipalAttachment
    Properties: 
      ThingName: !Ref ThingName01
      Principal: !GetAtt MyCertificate.certARN

  AttachCertToDevice02: 
    Type: AWS::IoT::ThingPrincipalAttachment
    Properties: 
      ThingName: !Ref ThingName02
      Principal: !GetAtt MyCertificate.certARN

  DeviceIAMPolicy:
    Type: AWS::IoT::Policy
    Properties:
      PolicyName: !Sub 'DevicePolicy-${AWS::StackName}'
      PolicyDocument: {
        'Version': '2012-10-17',
        'Statement': [{
          'Effect': 'Allow',
          'Action': [
              'iot:*'
            ],
        'Resource': [
              '*'
            ] 
        }]
      }
  AttachPolicyToCert: 
    Type: AWS::IoT::PolicyPrincipalAttachment
    Properties: 
      PolicyName: !Sub 'DevicePolicy-${AWS::StackName}' 
      Principal: !GetAtt MyCertificate.certARN

  Device01:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref MyS3bucket
        S3Key: device.zip 
      Runtime: python3.7
      FunctionName: !Join ["-",[!Ref ThingName01,'function']]
      Environment:
        Variables:
          CFNstackname: !Ref AWS::StackName
          topicname: !Ref IoTTopic01  
          devicename: !Join ["-",[!Ref ThingName01,'function']]
      Timeout: 5
      MemorySize: 128
      Handler: device.lambda_handler
      Role: !GetAtt DeviceFunctionRole.Arn

  Device02:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        S3Bucket: !Ref MyS3bucket
        S3Key: device.zip 
      Runtime: python3.7
      FunctionName: !Join ["-",[!Ref ThingName02,'function']]
      Environment:
        Variables:
          CFNstackname: !Ref AWS::StackName
          topicname: !Ref IoTTopic02
          devicename: !Join ["-",[!Ref ThingName02,'function']]
      Timeout: 5
      MemorySize: 128
      Handler: device.lambda_handler
      Role: !GetAtt DeviceFunctionRole.Arn

  DeviceFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - 
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
        - !Ref AllowDeviceToConnectRole

  AllowDeviceToConnectRole:
    Type: AWS::IAM::ManagedPolicy
    Properties:
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          -
            Sid: AllowDeviceToConnect
            Effect: Allow
            Action:
              - secretsmanager:*
              - kms:Decrypt
              - iot:*
            Resource: "*"

  Iterator:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile:
          !Sub
            - |-
              # replace with functionname
              import boto3
              client = boto3.client('lambda')
              def lambda_handler(event, context):
                  index = event['iterator']['index'] + 1
                  invokedevice1 = client.invoke(
                      FunctionName='${Device01}',
                      InvocationType='Event'
                  )
                  invokedevice2 = client.invoke(
                      FunctionName='${Device02}',
                      InvocationType='Event'
                  )
                  return {
                      'index': index,
                      'continue': index < event['iterator']['count'],
                      'count': event['iterator']['count']
                  }
            -  {StreamName: !Ref Device01}
      Runtime: python3.7
      FunctionName: IteratorFunction
      Timeout: 5
      MemorySize: 512
      Handler: index.lambda_handler
      Role: !GetAtt IteratorExecutionRole.Arn

  IteratorExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - 
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/AWSXrayWriteOnlyAccess
      Policies:
        -
          PolicyName: InvokeLambda
          PolicyDocument: 
            Version: "2012-10-17"
            Statement: 
              - 
                Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt Device01.Arn
              - 
                Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt Device02.Arn

  StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: 'LambdaSubMinute'
      DefinitionString: 
        !Sub
          - |-
            {
              "Comment": "Invoke Lambda every 10 seconds",
              "StartAt": "ConfigureCount",
              "States": {
                "ConfigureCount": {
                  "Type": "Pass",
                  "Result": {
                    "index": 0,
                    "count": 6
                  },
                  "ResultPath": "$.iterator",
                  "Next": "Iterator"
                },
                "Iterator": {
                  "Type": "Task",
                  "Resource": "${IteratorArn}",
                  "ResultPath": "$.iterator",
                  "Next": "IsCountReached"
                },
                "IsCountReached": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.iterator.continue",
                      "BooleanEquals": true,
                      "Next": "Wait"
                    }
                  ],
                  "Default": "Done"
                },
                "Wait": {
                  "Type": "Wait",
                  "Seconds": 10,
                  "Next": "Iterator"
                },
                "Done": {
                  "Type": "Pass",
                  "End": true
                }
              }
            }
          -  {IteratorArn: !GetAtt Iterator.Arn}
      RoleArn: !GetAtt StateMachineExecutionRole.Arn

  StateMachineExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - 
            Effect: Allow
            Principal:
              Service: !Join ["", ["states.", !Ref "AWS::Region", ".amazonaws.com"]]
            Action: sts:AssumeRole
      Path: /service-role/
      Policies:
        -
          PolicyName: StepFunctionsInvokeLambda
          PolicyDocument: 
            Version: "2012-10-17"
            Statement: 
              - 
                Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt Iterator.Arn

  Cron:
    Type: AWS::Events::Rule
    Properties:
      Description: Executes Step Functions every minute
      ScheduleExpression: rate(1 minute)
      State: ENABLED
      Targets:
        -
          Arn: !Ref StateMachine
          Id: 'LambdaSubMinute'
          RoleArn: !GetAtt CronExecutionRole.Arn

  CronExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - 
            Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Path: /service-role/
      Policies:
        -
          PolicyName: CloudWatchEventsStartStepFunctions
          PolicyDocument: 
            Version: "2012-10-17"
            Statement: 
              - 
                Effect: Allow
                Action: states:StartExecution
                Resource: !Ref StateMachine

  SNSTopicForAlert:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Endpoint: !Ref MyEmail
          Protocol: email
      TopicName: "BadIoTDevices"

  SNSTopicRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - 
            Effect: Allow
            Principal:
              Service: iot.amazonaws.com
            Action: sts:AssumeRole
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSIoTDeviceDefenderPublishFindingsToSNSMitigationAction

  MoveThingToThingGroup:
    Type: AWS::Lambda::Function
    Properties:
      Code:
        ZipFile: |
          import boto3
          import json
          import os
          iot = boto3.client('iot')
          def lambda_handler(event, context):
            message = json.loads(event['Records'][0]['Sns']['Message']) 
            print("JSON: " + json.dumps(message)) 
            thing = message['thingName']
            addThing = iot.add_thing_to_thing_group(
                thingGroupName=os.environ['ThingGroupName'],
                thingName=thing,
            )
      Runtime: python3.7
      FunctionName: IsolateDevice
      Timeout: 5
      MemorySize: 128
      Handler: index.lambda_handler
      Role: !GetAtt MoveThingFunctionRole.Arn

  MoveThingFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - 
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Path: /
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSIoTDeviceDefenderAddThingsToThingGroupMitigationAction

Outputs:
  CertARN:
    Description: 'ARN of new Cert'
    Value: !GetAtt MyCertificate.certARN
  Thing01:
    Description: 'Thing name for first device'
    Value: !Ref Thing01
  Device01:
    Description: 'Name of Lambda function acting as Device 01'
    Value: !Ref Device01
  Thing02:
    Description: 'Thing name for second device'
    Value: !Ref Thing02
  Device02:
    Description: 'Name of Lambda function acting as Device 02'
    Value: !Ref Device02
  SNSTopic:
    Description: SNS topic receives IoT Device Defender alerts
    Value: !Ref SNSTopicForAlert